*.ko
*.o
*.d
*.mod.c
*.cmd
*.mod

.tmp_versions
Module.symvers
modules.order

interdrv/gator/generated_gator_src_md5.h
interdrv/include/common/uapi/
interdrv/include/chip/cv184x/uapi/defines.h

interdrv/ipcm/driver/include/cvi_board_memmap.h
interdrv/ipcm/ipcm_out
interdrv/ipcm/platform/linux_userspace/test/alios_cli
interdrv/ipcm/platform/linux_userspace/test/ipcm_ut
